main{
    display: flex;
}
aside{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    border-right: 1px solid #5a8729;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: #1e4405;
}
.h2-plantas{
    color:#1e4405 ;
    margin-left: 15px;
    font-size: 30px;
}
#pai-ul{
    font-size: 18px;
}
.li-aside{
    margin-top: 30px;
}
#div-pai-plantas{
    margin-top: 50px;
}

/*Estilos da sessão Frutiferas*/
#div-pai-frutiferas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.div-frutiferas-produtos{
    text-align: center;
    padding: 20px;
    border: #C0C0C0 1px solid;
    border-radius: 30px;
    cursor: pointer;
    width: 210px;
    height: 270px;
    margin-top: 35px;
    margin-left: 35px;
}
.img-frutiferas{
    width: 150px;
    height: 150px;
}
.text-frutiferas{
    color: #1e4405;
}
.botao-produtos-frutiferas{
    background-color: #00a651;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

/*Estilos da sessão Flores*/
#div-pai-flores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.div-flores-produtos{
    text-align: center;
    padding: 20px;
    border: #C0C0C0 1px solid;
    border-radius: 30px;
    cursor: pointer;
    width: 210px;
    height: 270px;
    margin-top: 35px;
    margin-left: 35px;
}
.img-flores{
    width: 150px;
    height: 150px;
}
.text-flores{
    color: #1e4405;
}
.botao-produtos-flores{
    background-color: #00a651;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

/*Estilos da sessão Ornamentais*/
#div-pai-ornamentais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.div-ornamentais-produtos{
    text-align: center;
    padding: 20px;
    border: #C0C0C0 1px solid;
    border-radius: 30px;
    cursor: pointer;
    width: 210px;
    height: 270px;
    margin-top: 35px;
    margin-left: 35px;
}
.img-ornamentais{
    width: 150px;
    height: 150px;
}
.text-ornamentais{
    color: #1e4405;
}
.botao-produtos-samambaias{
    background-color: #00a651;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

/*Estilos da sessão Samambaias*/
#div-pai-samambaias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.div-samambaias-produtos{
    text-align: center;
    padding: 20px;
    border: #C0C0C0 1px solid;
    border-radius: 30px;
    cursor: pointer;
    width: 210px;
    height: 270px;
    margin-top: 35px;
    margin-left: 35px;
}
.img-samambaias{
    width: 150px;
    height: 150px;
}
.text-samambaias{
    color: #1e4405;
}
.botao-produtos-samambaias{
    background-color: #00a651;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}


/*Estilos Dinâmicos*/
.li-aside:hover{
    opacity: 0.5;
}
.botao-produtos-frutiferas:hover{
    opacity: 0.5;
}
.botao-produtos-flores:hover{
    opacity: 0.5;
}
.botao-produtos-ornamentais:hover{
    opacity: 0.5;
}
.botao-produtos-samambaias:hover{
    opacity: 0.5;
}