* {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.links-header {
    color: black;
    margin-top: 4px;
    margin-left: 8px;
}

header {
    background-color: #A8DE7E;
    height: 130px;
    border-bottom: 3px solid black;
}

.cabeça {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-top: 15px;
    width: 180px;
    height: 100px;
    border-radius: 20px;
    background-color: antiquewhite;
}

.img-header {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.navegacao {
    display: flex;
}

.itenslista {
    display:flex;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
}

.itenslista:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

li a {
    color: #000;
    text-decoration: none;
}

main {
    display: flex;
}

aside {
    background-color: #A8DE7E;
    width: 15%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 42px;
}

.botoes {
    border: #000 1px solid;
    border-radius: 10px;
    background-color: #678450;
    width: 70%;
    height: 40px;
    font-size: 15px;
    margin-left: 22px;
    margin-bottom: 120px;
    margin-top: 40px;
    text-align: center;
    padding-top: 25px;
}

.produtosgeral {
    background-color: antiquewhite;
    width: 100%;
    border-bottom: 3px solid black;
}

.produto {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 30px;
}

.img {
    width: 180px;
    height: 250px;
}

.p {
    padding-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 10px;
    background-color: #A8DE7E;
    border: #000 1px solid;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 14px;
    cursor: pointer;
}

footer {
    background-color: #A8DE7E;
    display: flex;
    justify-content: end;
    height: 85px;
}

.copy {
    margin-right: 400px;
    text-align: center;
    margin-top: 20px;
}

.footer {
    display: flex;
    align-items: center;
}
