a {
    text-decoration: none;
}
#titulopagina {
    transform: rotate(450deg);
    color: white;
    font-size: 50px;
    margin-top: 280px;
}

main {
    background:antiquewhite;
    border-bottom: 3px solid black;
}

.cabeça {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.contato {
    margin: 0.25em;
    width: 100%;
    padding-top: 30px;
    padding-left: 5px;
}
form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}   
.enviar {
    width: 40%;
    padding: 15px 0;
    background: aqua;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.foco{
    display: flex;
    flex-direction: row; 
    width: 600px;
    padding: 200px;
    align-items: center;
}
.missao, .visao, .valores p{
    font-size:x-large;
    margin: 1rem;
}
.logos_rodape {
    align-items: flex-end;
    margin-left: 2rem;
}
.copy {
    display: block;
    margin-left: 1rem;
    
}
